<section class="students flex flex-col gap-6">
    <div class="head flex justify-between items-center">
        <div class="titles flex flex-col gap-3">
            <h2 class="text-[32px] font-bold leading-[40px] text-[#000000]">{{ t.translate('sidebar.Students')}}</h2>
            <div class="navigation">
                <app-breadcrumb
                    [subTitles]="[ { name: t.translate('sidebar.Dashboard'), routerLink: '/' }, { name: t.translate('sidebar.Students'), routerLink: '/students' }]"></app-breadcrumb>
            </div>
        </div>
        <div class="add-note">
            <button
                class="bg-red-500 min-w-[143px] flex items-center justify-center gap-2 text-white main-color rounded-lg py-2.5 px-3"
                (click)="addStudent()">
                <div class="icon">
                    <app-icons [iconKey]="'add'"></app-icons>
                </div>
                <span class="text-[15px]">{{ t.translate('students.Add Student')}}</span>
            </button>
        </div>
    </div>
    <div class="data w-full flex flex-col gap-5 bg-white rounded-[20px]">
        <div class="table w-full">
            <app-data-table [data]="data()" [columns]="cols()" [actionsTemplate]="actions"
                [totalPageCount]="data().length" [actionsLabel]="t.translate('general.Actions')" [prevLabel]="t.translate('general.Previous')"  [nextLabel]="t.translate('general.Next')" ></app-data-table>
        </div>
        <ng-template #actions let-row>
            <div class="flex justify-center items-center gap-[14px]">
                <button class="edit" (click)="editStudent(row)">
                    <div class="icon cursor-pointer">
                        <app-icons [iconKey]="'edit'"></app-icons>
                    </div>
                </button>
                <button class="delete" (click)="deleteStudent(row)">
                    <div class="icon cursor-pointer">
                        <app-icons [iconKey]="'delete'"></app-icons>
                    </div>
                </button>
            </div>
        </ng-template>
    </div>
</section>


<p-dialog header="{{isEditMode()? 'Edit Student' : 'Add Student'}}" [modal]="true" [(visible)]="isVisibleAddEdit"
    [style]="{ width: '30rem'}" [closable]="false">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmitData()">
        <div class="content flex flex-col gap-5">

            <div class="name flex flex-col gap-2">
                <label>Name</label>
                <input type="text" formControlName="name" placeholder="name"
                    class="w-full border rounded-lg p-3 focus:outline-none" />
                <div *ngIf="isInvalid('name')" class="text-red-500 text-sm">
                    Please enter the name
                </div>
            </div>

            <div class="department flex flex-col gap-2">
                <label>Department</label>
                <input type="text" formControlName="department" placeholder="Department"
                    class="w-full border rounded-lg p-3 focus:outline-none" />
                <div *ngIf="isInvalid('department')" class="text-red-500 text-sm">
                    Please enter the department
                </div>
            </div>

            <div class="email flex flex-col gap-2">
                <label>Email</label>
                <input type="email" formControlName="email" placeholder="email"
                    class="w-full border rounded-lg p-3 focus:outline-none" />
                <div *ngIf="isInvalid('email')" class="text-red-500 text-sm">
                    Please enter a valid email ending with example&#64;gmail.com
                </div>
            </div>

            <div class="mobile flex flex-col gap-2">
                <label>Mobile</label>
                <input type="number" min="0" formControlName="phone" placeholder="Mobile Phone"
                    class="w-full border rounded-lg p-3 focus:outline-none" />
                <div *ngIf="isInvalid('phone')" class="text-red-500 text-sm">
                    Please enter a mobile number
                </div>
            </div>

        </div>

        <div class="actions flex gap-2 w-full mt-8">
            <div class="w-1/2">
                <button type="submit" [disabled]="studentForm.invalid"
                    class="min-w-[130px] main-color flex items-center justify-center gap-2 text-white bg-red-600 rounded-lg py-2 px-3 w-full">
                    {{ isEditMode() ? 'Edit' : 'Add' }}
                </button>
            </div>
            <div class="w-1/2">
                <button type="button" (click)="isVisibleAddEdit.set(false)"
                    class="min-w-[130px] border border-[#4D0F23] text-[#4D0F23] rounded-lg py-2 w-full">
                    Close
                </button>
            </div>
        </div>
    </form>
</p-dialog>

<p-dialog header="Delete Student" [modal]="true" [(visible)]="isVisibleDelete"
    [style]="{ width: '30rem', color:'#DC2626' }" [closable]="false">
    <div class="mb-5 text-black">
        <h3>Are you sure you want to delete the user?</h3>
    </div>
    <div class="flex gap-2 w-full">
        <div class="w-1/2">
            <button
                class="min-w-[130px] main-color flex items-center justify-center gap-2 text-white bg-red-600 rounded-lg py-2 px-3 w-full"
                (click)="confirmDeleteStudent()">
                Delete
            </button>
        </div>
        <div class="w-1/2">
            <button
                class="min-w-[130px] flex items-center justify-center gap-2 border border-[#4D0F23] text-[#4D0F23] rounded-lg py-1.5 px-3 w-full"
                (click)="isVisibleDelete.set(false)">
                Close
            </button>
        </div>
    </div>
</p-dialog>